<di class="header container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/img/logo.jpg" alt="logo"/>    
        </div>
        <div class="col-lg-8 title">
            <h1>Eritrean Sport Federation in North America</h1>
            <h4>MEN’S SOCCER TOURNAMENT TEAM ROSTER FORM</h4>
        </div>
        <div class="col-sm-2">
            <img src="/static/img/logo.jpg" alt="logo"/>
        </div>
    </div>
</div>